.env
*.env
*.env.*
!.env.example

**/uploads/**
uploads/

**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

**/node_modules/
**/dist/
**/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local

.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/*
!.vscode/extensions.json

